<div>
    <.centered_dialogue id="game-over" class="text-center">
        <.header>
            Game Over
            <:subtitle>
                <%= @game_over_text %>
            </:subtitle>
        </.header>

        <.link href={~p"/lobby"}>
            <button type="button" class="hollow-button mt-4">
            Back to Lobby
            </button>
        </.link>
    </.centered_dialogue>
</div>