<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix="Roguelandia">
      <%= if assigns[:page_title], do: "#{assigns[:page_title]} · " %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="antialiased">
    <ul class="fixed right-0 z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8">
      <%= if @current_user do %>
        <li class="text-[0.8125rem] leading-6">
          <%= @current_user.player.name %>
        </li>
        <%!-- <li>
          <.link
            href={~p"/users/settings"}
            class="text-[0.8125rem] leading-6 font-semibold hover:text-gray-200"
          >
            Settings
          </.link>
        </li> --%>
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="text-[0.8125rem] leading-6 font-semibold hover:text-gray-200"
          >
            Log out
          </.link>
        </li>
      <% else %>
        <li>
          <.link
            href={~p"/users/register"}
            class="text-[0.8125rem] leading-6 font-semiboldhover:text-gray-200"
          >
            Register
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_in"}
            class="text-[0.8125rem] leading-6 font-semibold hover:text-gray-200"
          >
            Log in
          </.link>
        </li>
      <% end %>
    </ul>
    <%= @inner_content %>
  </body>
</html>
